<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference
            for="Dealer4Dealer\SubstituteOrders\Api\OrderManagementInterface"
            type="Dealer4Dealer\SubstituteOrders\Model\OrderManagement"
    />

    <type name="Magento\Framework\Console\CommandListInterface">
    <arguments>
        <argument name="commands" xsi:type="array">
            <item name="migrateSubstituteOrders" xsi:type="object">Dealer4Dealer\SubstituteOrders\Console\Command\MigrateSubstituteOrders</item>
        </argument>
    </arguments>
    </type>
</config>
